<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Quizzie etusivu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="js/app.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/controllers.js"></script>

</head>
<body>

<div class="container" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Tervetuloa tietovisaan!</h1>
            <!--button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button-->

            <a href="#/view1" class="btn btn-primary btn-lg btn-block" role="button">Urheilu</a>
            <!-- NOTE to refresh for some reason must have disabled browser cache in Firefox (using Firebug extension) -->
            <a href="#/view2" class="btn btn-primary btn-lg btn-block" role="button">Kulttuuri</a>
            <!--a href="#" class="btn btn-primary btn-lg btn-block" role="button">Joku view</a-->

            <p class="koe">My first ever Angular app. No outstanding css involved :)</p>
            <p class="koe">Lessons learned:</p>
            <ul>
                <li>Routes</li>
                <li>Scope</li>
                <li>Buttons / radio buttons</li>
                <li>ng-repeat</li>
                <li>JSON parse</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>